.main {
    background-color: #1D3557!important;
    color: white !important;
}

.form{
    border-color:#A8DADC!important ;
}
.buttonStyle{
    color: white!important;
    background-color: #457B9D!important;
    border-color: #457B9D!important;
}
.buttonClearStyle{
    color: #457B9D!important;
    border-color: #457B9D!important;
}