.main {
    background-color: #457B9D!important;
    color: #F1FAEE;
}
.rowClass{
    background-color: #A8DADC!important;
}
.buttonStyle{
    background-color: #E63946!important ;
    border-color: #E63946!important;
}