.linkStyle{
    color: white!important;
    background-color: #457B9D!important;
    border-color: #457B9D!important;
}


.abs-center{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


